<script>
    import {HorizontalBar} from 'vue-chartjs'
    import hexToRgba from '../utils/hex-to-rgba';

    export default {
        extends: HorizontalBar,
        data: () => {
            const chartData = JSON.parse($('#chart_data').text());

            chartData.data.datasets = chartData.data.datasets.map(data => {
                return {
                    ...data,
                    backgroundColor: hexToRgba(data.backgroundColor, .5),
                    barThickness:3,
                };
            });

            return {
                chartData: chartData.data,
                maxTicks: chartData.maxTicks,
            };
        },
        mounted() {
            this.renderChart(this.chartData, {
                legend: {
                    // onClick: null
                },
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        stacked: true,
                        barThickness: 30,
                    }],
                    xAxes: [{
                        stacked: true,
                        ticks: {
                            max: this.maxTicks,
                        }
                    }],
                }
            })
        }
    }
</script>

<style>

</style>
