<template>
    <div v-if="messages.length > 0" class="alert alert-warning">
        <h4><i class="fa fa-exclamation-triangle"></i> There are some rows that are overlapping</h4>
        <ul>
            <li v-for="(message) in messages" >
                {{ message }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                rangeId: 1,
                messages: []
            };
        },
        props: {},
        mounted() {
            this.update();
        },
        methods: {
            update() {
                axios.request({
                    url: '/ajax/range/' + this.rangeId + '/get-overlapping-criteria',
                    method: 'GET',
                }).then(({data}) => {
                    this.updateMessages(data);
                });
            },
            updateMessages(items) {
                const messages = [];

                items.forEach(({message}) => {
                    messages.push(message);
                });

                this.messages = messages;
            }
        }
    }
</script>
