
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";


// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.panel-border-bottom-primary{
  border-bottom: 5px solid #3097d1;
}
.link-primary{
  color: #3097d1;
}
.link-primary a{
  color: #3097d1;
}
.link-primary:hover{
  color: #3097d1;
}

.panel-border-bottom-success{
  border-bottom: 5px solid #3097d1;
}


.panel-border-bottom-warning{
  border-bottom: 5px solid #8a6d3b;
  color: #8a6d3b;
}
.link-warning{
  color: #8a6d3b;
}
.link-warning:hover{
  color: #8a6d3b;
}
.link-warning a{
  color: #8a6d3b;
}
.panel-border-bottom-danger{
  border-bottom: 5px solid #a94442;
}
.link-danger{
  color: #a94442;
}
.link-danger:hover{
  color: #a94442;
}
.link-danger a{
  color: #a94442;
}


#app{
  min-height: 100vh;
  background: #f5f5f5;
}

.nav-pills > li.active > a {
  background: #a51c4b!important;
}
.nav-pills > li.active > a:hover {
  background: #a51c4b !important;
}

.barabaz-button {
  background: #a51c4b !important;
  color: #ffffff;
}
.fa-home:hover{
  color: #ed7764 !important;
}

#main {
  padding-top:75px;
}

nav {
  z-index: 1000;
}

body {
  overflow-x: hidden;
  padding-bottom: 40px;
  background: $body-bg;
}

.logo {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

.btn-padding-top {
  padding-top: 25px;
}

.menu{
  border-bottom: 1px solid #ed7764;
}

#survey{
  padding-top: 50px;
}
#footer{
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 95px;
  background: #f5f5f5;
  border-top: 1px solid #a51c4b;
}

header {
  width: 100%;
  height: 50px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 22px;
}


.logo {
  display: block;
  float: left;
  top: 50%;
  padding-left: 46px;
  //margin: 16px 46px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
}

.logo>a>img{
  width: 120px;
  height: 40px;
}

.logo-img{
  width: 240px;
  height: 80px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #f5f5f5;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #a51c4b;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #ed7764;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  background: #f5f5f5;
  display: none;
}
nav {
  z-index:100;
}

.responsive-padding {
  padding-top: 85px;
}
/*
*****************************************************************************************************************
*******************************************MAIN APPLICATION CSS!*************************************************
*****************************************************************************************************************
 */
.cell-color-tag {
  display: inline-block;
  margin-top: 4px;
  width: 60px;
  height: 20px;
  border: 1px solid #000000;
}



/*
*
*
*
Menu
 */
#Navigation.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);

}
#Navigation.navbar-default {
  font-size: 14px;
  background-color: rgba(245, 245, 245, 1);
  border-bottom-width: 3px;
}
#Navigation.navbar-default .navbar-nav>li>a {
  color: rgba(165, 28, 75, 1);
  background-color: rgba(245, 245, 245, 1);
}
#Navigation.navbar-default .navbar-nav>li>a:hover,
#Navigation.navbar-default .navbar-nav>li>a:focus {
  color: rgba(236, 114, 94, 1);
  background-color: rgba(248, 248, 248, 0);
}
#Navigation.navbar-default .navbar-nav>.active>a,
#Navigation.navbar-default .navbar-nav>.active>a:hover,
#Navigation.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(165, 28, 75, 1);
  background-color: rgba(231, 231, 231, 1);
}
#Navigation.navbar-default .navbar-toggle {
  color: rgba(236, 114, 94, 1);
}
#Navigation.navbar-default .navbar-toggle:hover,
#Navigation.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
#Navigation.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(165, 28, 75, 1);;
  color: rgba(236, 114, 94, 1);
}
#Navigation.navbar-default .navbar-toggle:hover .icon-bar,
#Navigation.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: rgba(236, 114, 94, 1);
}
.navbar-default{
  border-color: rgba(236, 114, 94, 1);
}

.navbar-default .navbar-collapse{
  border-color: rgba(236, 114, 94, 1);
}

.icon-bar {
  color: rgba(165, 28, 75, 1);
}

/*
*
* max-width 786
*
 */

@media(max-width: 786px) {

  body {
    background: #f5f5f5;
  }

  main{
    padding-bottom: 150px;
    background: #f5f5f5;
  }

  .logo {
    position: fixed;
    top: 0;
    padding-top: 10px;
  }

  nav ul {
    background: #f5f5f5;
  }

  nav.black ul {
    background: #f5f5f5;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  #footer{
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 30px;
    background: #f5f5f5;
    border-top: 1px solid #a51c4b;
  }
  nav{
    z-index:100;
  }

  .menu {
    height: 75px;
  }

  .responsive-padding {
    padding-top: 135px;
  }


}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}



//
//padding-left: 15px;
//
//padding-top: 5px;

/*
*
* max-width 600
*
 */

@media(max-width: 600px) {
  body {
    background: #f5f5f5;
  }
  
  main{
    padding-bottom: 150px;
    background: #f5f5f5;
  }

  .logo {
    position: fixed;
    padding-top: 10px;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon {
    line-height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    background: #f5f5f5;
  }

  //
  //nav {
  //  position: fixed;
  //  width: 100%;
  //  background-color: #f5f5f5;
  //  z-index:100;
  //}
  //
  //nav ul {
  //  line-height: 60px;
  //  list-style: none;
  //  background: #f5f5f5;
  //  overflow: hidden;
  //  color: #fff;
  //  padding: 0;
  //  text-align: right;
  //  margin: 0;
  //  padding-right: 40px;
  //  transition: 1s;
  //}

  #footer{
    background: #f5f5f5;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 30px;
    background: #f5f5f5;
    border-top: 1px solid #a51c4b;
  }

  .responsive-padding {
    padding-top: 198px;
  }
}

