<template>
    <div v-bind:class="{ 'form-inline': 1, 'has-error': hasError }">
        <label class="control-label">
            <span>min &nbsp;</span>
            <input type="number"
                   class="form-control input-sm"
                   min="0"
                   v-bind:value="min"
                   v-on:input="onMinput($event.target.value)"
                   style="width: 65px"
            >
        </label>
        <span>&nbsp;-&nbsp;</span>
        <label class="control-label">
            <input type="number"
                   class="form-control input-sm"
                   min="0"
                   v-bind:value="max"
                   v-on:input="onMaxput($event.target.value)"
                   style="width: 65px"
            >
            <span>&nbsp; max</span>
        </label>
    </div>
</template>
<script>
    export default {
        props: {
            min: null,
            max: null,
            hasError: false
        },
        methods: {
            onMinput(value) {
                this.$emit('update:min', Number(value));
            },
            onMaxput(value) {
                this.$emit('update:max', Number(value));
            }
        }
    }
</script>
