<template>
    <tr v-bind:class="{ _warning: isEditing }"
        v-bind:style="{
         opacity: isSaving ? .5 : 1,
         pointerEvents: isSaving ? 'none' : 'unset'
        }"
    >
        <td width="5%">{{ id }}</td>
        <td style="width: 30%">
            <MinMaxComponent
                    v-if="isEditing"
                    v-bind:min.sync="criteria.self.min"
                    v-bind:max.sync="criteria.self.max"
                    v-bind:has-error="!criteria.self.valid"
            />
            <span v-else>{{ criteriaToString('self') }}</span>
        </td>
        <td width="20%">
            <div v-bind:class="{ 'has-error': !criteria.gender.valid }">
                <select v-if="isEditing"
                        v-model="criteria.gender.value"
                        class="form-control input-sm"
                        style="width: 120px"
                >
                    <!--                <option value="" disabled selected hidden>Choose</option>-->
                    <option value="any">Any</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <span v-else>{{ criteriaToString('gender') }}</span>
            </div>
        </td>
        <td style="width: 30%">
            <MinMaxComponent
                    v-if="isEditing"
                    v-bind:min.sync="criteria.age.min"
                    v-bind:max.sync="criteria.age.max"
                    v-bind:has-error="!criteria.age.valid"
            />
            <span v-else>{{ criteriaToString('age') }}</span>
        </td>
        <td class="text-right" width="100px">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" v-if="isEditing" v-on:click="save">
                    <i class="fa fa-check fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" v-if="!isEditing" v-on:click="startEditing">
                    <i class="fa fa-edit fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" v-on:click="remove">
                    <i class="fa fa-remove fa-fw"></i>
                </button>
            </div>
        </td>
    </tr>
</template>
<script>
    import axios from 'axios';
    import MinMaxComponent from './MinMaxComponent';
    import denormalizeCriteriaCollection from "./denormalizeCriteriaCollection";
    import normalizeCriteriaCollection from "./normalizeCriteriaCollection";

    export default {
        components: {
            MinMaxComponent
        },
        props: {
            index: Number,
            rangeId: Number,
            rangeIndicatorId: Number,
            data: Object
        },
        data() {
            return {
                isEditing: this.data.id === null,
                isSaving: false,
                id: this.data.id,
                criteria: denormalizeCriteriaCollection(this.data.criteria)
            };
        },
        methods: {
            startEditing() {
                this.isEditing = true;
            },
            remove() {
                if (null === this.id) {
                    this.$emit('remove');

                    return;
                }

                this.isSaving = false;

                axios.request({
                    url: '/ajax/range-criteria-collection/' + this.id,
                    method: 'DELETE'
                }).then(() => {
                    this.$emit('remove');
                }).finally(() => {
                    this.isSaving = false;
                });
            },
            criteriaToString(type) {
                const criteria = this.criteria[type];

                if ('self' === type || 'age' === type) {
                    return criteria.min + ' - ' + criteria.max;
                }

                if ('gender' === type) {
                    return criteria.value;
                }

                return 'UNKNOWN';
            },
            save() {
                if (!this.validate()) {
                    return;
                }

                this.isSaving = true;

                // TODO: id props, data, bla

                const url = this.id === null ? '/ajax/range-criteria-collection' : '/ajax/range-criteria-collection/' + this.id;
                const method = this.id === null ? 'POST' : 'PUT';

                axios.request({
                    url,
                    method,
                    data: {
                        range_id: this.rangeId,
                        range_indicator_id: this.rangeIndicatorId,
                        criteria: normalizeCriteriaCollection(this.criteria)
                    }
                }).then(({data}) => {
                    this.id = data.id;
                    this.isEditing = false;
                }).finally(() => {
                    this.isSaving = false;

                    window.updateOverlappingMessage(this.rangeId);
                })
            },
            validate() {
                for ([type, criteria] of Object.entries(this.criteria)) {
                    if (type === 'gender' && criteria.value === null) {
                        criteria.valid = false;
                    } else if (criteria.min === null || criteria.max === null) {
                        criteria.valid = false;
                    } else {
                        criteria.valid = true;
                    }
                }

                return Object.values(this.criteria).filter(({valid}) => !valid).length === 0;
            },
        },
    }
</script>
