<style>
</style>
<template>
    <div>
        <div>
            <table class="table c" v-if="items.length > 0">
                <thead>
                <tr>
                    <td>#</td>
                    <!--                    TODO:: Decide wether we keep Range or we change to the Result name-->
                    <td>Range</td>
                    <td>
                        Gender
                        <!--                                                &nbsp;-->
                        <!--                                                <button class="btn btn-default btn-xs">-->
                        <!--                                                    <i class="fa fa-check fa-fw"></i>-->
                        <!--                                                </button>-->
                    </td>
                    <td>Age</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <Row v-for="(item, index) in items"
                     v-bind:key="index"
                     v-bind:index="index + 1"
                     v-bind:range-id="rangeId"
                     v-bind:range-indicator-id="rangeIndicatorId"
                     v-bind:data="item"
                     v-on:remove="removeItem(index)"
                />
                </tbody>
            </table>
            <div v-else class="text-center">
                There are no criteria yet.
            </div>
        </div>
        <div class="text-center">
            <a href="javascript:" v-on:click="addItem">
                Add new criteria
            </a>
        </div>
        <br/>
    </div>
</template>
<script>
    import Row from './Row';

    export default {
        components: {
            Row,
        },
        props: {
            rangeId: Number,
            rangeIndicatorId: Number,
            criteriaCollections: Array
        },
        data() {
            return {
                items: this.criteriaCollections
            };
        },
        methods: {
            addItem() {
                this.items.push({
                    id: null,
                    criteria: []
                });
            },
            removeItem(index) {
                this.items.splice(index, 1);
            }
        }
    }
</script>
